*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  position: sticky;
  top: 0;
  z-index: 1000;
}

body{
    font-family: "Zain", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.3rem;
}

.bg-body-tertiary{
    font-family: "Zain", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.7rem;
}

.logo{
  height: 25%;
  width: 25%;
}


.hero{
  width: 85%;
}

.il-container{
  margin-bottom: 5rem;
}

.item-box{
  height: 20rem;
  width: 15rem;
  transition: transform 0.3s ease;
}

.item-box:hover{
  transform: scale(1.2);
}

a{
  text-decoration: none;
  color: black;
}


  .detail-container{
    margin-top: 6rem;
    margin-bottom: 8rem;
}

.detail-info{
  width: 50%;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-item{
  width: 3rem;
  height: 3rem;
  border-radius: 5px;
  border: 1px solid black;
  display: flex;
  text-align: center;
}

.qty-btn{
  width: 1.5rem;
  border-radius: 5px;
  border: 1px solid grey;
}

.qty-btn:hover{
  background-color: rgb(32, 32, 32);
  color: white;
}

.atc-btn{
  width: 15rem;
  height: 3rem;
  border-radius: 5px;
  background-color: rgb(196, 164, 175);
  border: none;
}

.atc-btn:hover{
  background-color: rgb(194, 130, 152);
}

.cart-container{
  margin-bottom: 5rem;
}

.checkoutbtn{
  width: 15rem ;
  height: 3rem;
  border-radius: 5px;
  background-color: rgb(235, 168, 193);
  border: none;
}

.checkoutbtn:hover{
  background-color: rgb(201, 139, 162);
}

.cart-item{
  border: 1px solid gray;
  width: 50rem;
  height: 20rem;
  border-radius: 12px;
  position: relative;
}

.trashbtn{
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

form{
  margin-top: 3rem;
  padding-bottom: 15rem;
}

.footer{
  background-color: rgb(24, 23, 23);
  color: white;
  height: 18rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}